<form ng-submit="saveChanges( user )">

<div class="container">
  <div class="row">

    <div class="col-sm-4 center-block">

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="user.name">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" ng-model="user.email">
      </div>

      <div class="form-group">
        <label>New password</label>
        <input type="password" class="form-control" ng-model="user.password">
      </div>

      <div class="form-group">
        <label>Repeat password</label>
        <input type="password" class="form-control" ng-model="user.passwordConfirm">
      </div>

      <div class="form-group">
        <label>Role</label>
        <select class="form-control" ng-model="user.role">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary">Save changes</button>
      <a href="#/admin/usersList" class="btn btn-default">Return</a>
      <p>&nbsp;</p>                      

    </div>

  </div>
</div>

</form>